* {
	margin: 0px;
	padding:  0px;
}

body {
	background-color: #51434b;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #66545e;
}

::-webkit-scrollbar-thumb {
	background: #333333;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: white;
}

@font-face {
	font-family: 'it';
	src: url(fonts/it.ttf);
}

@font-face {
	font-family: 'lmr';
	src: url(fonts/lmr.otf);
}

@font-face {
	font-family: 'mont';
	src: url(fonts/mont.ttf);
}

@font-face {
	font-family: 'montL';
	src: url(fonts/montL.ttf);
}

@font-face {
	font-family: 'montM';
	src: url(fonts/montM.ttf);
}

#navbar {
	opacity: 0; 
	visibility: hidden; 
	transition: opacity 1s ease; 
}

nav {
	position: fixed; 
	top: 2%; 
	left: 50%; 
	transform: translateX(-50%); 
	width: 80%; 
	max-width: 600px; 
	background-color: #a39193; 
	padding: 10px; 
	border: 2px solid black;
	border-radius: 30px; 
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
	z-index: 1000; 
	font-family: mont, arial;
	font-size: 12px;
  }

nav ul {
	list-style: none; 
	padding: 0;
	margin: 0;
	display: flex; 
	justify-content: center; 
}

nav li {
margin: 0 15px; 
}

nav a {
text-decoration: none; 
color: white;
padding: 10px 20px;
transition: 0.3s;
}

nav a:hover {
color: black; 
opacity: 100%;
}
  
.container {
	height: 100vh;
	width: 100vw;
}

.grey {
	background-color: #f7f8fb;
}

.first-line {
	font-family: it, arial;
	font-size: 60px;
	font-weight: bold;
	color: white;
	text-align: center;
	width: 100%;
	padding-top: 20%;
	letter-spacing: 1px;
}

.p1 {
	font-family: montM, arial;
	font-size: 15px;
	color: white;
	text-align: center;
	padding-top: 10px;
}

.home-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.home-icon a {
	margin: 0 10px;
	opacity: 0;
  	visibility: hidden;
  	transition: opacity 1s ease;
}

.fadeout:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.cv-box {
	max-width: 200px;
	height: 35px;
	padding: 0 15px;
	border: 2px solid white;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	font-family: mont, arial;
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.cv-box:hover {
	background-color: white;
	transition: ease-in-out .5s;
	color: black;
	border: 2px solid black;
}

.cv-box:hover > a {
	color: black;
	transition: .3s;
  }

.animate-main {
  height: 65px;
  overflow: hidden;
  display: inline-block;
  font-family: lmr, arial;
}

.animate-main div div {
  padding: 15px 10px 15px 0px;
  height: 60px;
  margin-bottom: 50px;
  display: inline-block;
  color: #f6e0b5;
}

.animate-main div:first-child {
  animation: rotate 7s infinite;
}

@keyframes rotate {
  0%  {margin-top: -8px;}
  10% {margin-top: -8px;}
  20% {margin-top: -8px;}
  30% {margin-top: -127px;}
  40% {margin-top: -127px;}
  50% {margin-top: -127px;}
  60% {margin-top: -250px;}
  70% {margin-top: -250px;}
  80% {margin-top: -250px;}
  90% {margin-top: -8px;}
  100% {margin-top: -8px;}
}


.introduction {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #66545e;
	transition: 1s;
}

.intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: it, arial;
	font-size: 500%;
}

.loading {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
	padding: 10px;
}

.loading.in {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.loading.out {
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

@keyframes floating {
	0% {transform: translateY(0px);}
	50% {transform: translateY(10px);}
	100% {transform: translateY(0px);}
}

.opacity:hover {
	opacity: 0.5;
	transition: ease-in 0.3s;
}

.fill:hover {
	background-color: white;
	color: white;
	transition: 0.3s;
}

.about-container {
	height: 50vh;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
}

.about-heading {
	font-family: it, arial;
	font-size: 40px;
	color: white;
	text-align: left; 
	padding-top: 15%;
	letter-spacing: -2px;
}

.about-text {
	font-family: montL, arial;
	font-size: 16px;
	color: white;
	max-width: 60%;
	margin-top: 20px;
	text-align: justify;
	overflow: hidden; 
  }
  
  .portrait {
	max-width: 300px;
	max-height: 300px;
	border-radius: 30px;
	float: right; 
	margin-left: 20px; /* Space between the text and image */
	margin-top: 20px;
  }
  

.beige {
	color: #f6e0b5;
}

.projects-container {
	height: 60vh;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
}

.projects-heading {
	font-family: it, arial;
	font-size: 40px;
	color: white;
	text-align: right; 
	margin-top: 15%;
	letter-spacing: -2px;
}

.project-boxes {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.project-box {	
	height: 200px;
	width: 450px;
	background-color: #66545e;
	border-radius: 30px;
	padding: 40px;
	margin: 0 5px;
	border: 2px solid #333333;
}

.project-box h3 {
	font-family: mont, arial;
	font-size: 20px;
	color: white;
	font-weight: normal;
}

.project-box p {
	font-family: montL, arial;
	font-size: 16px;
	color: white;
	margin-top: 10px;
	text-align: justify;
	opacity: 0.9;
}

.project-lang {
	font-family: montL, arial;
	font-size: 16px;
	color: white;
	margin-top: 30px;
	opacity: 0.65;
}

.git-icon {
	margin-top: 50px;
}

.contact-container {
	height: 10vh;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
}

.contact-text {
	font-family: it, arial;
	font-size: 20px;
	color: white;
	text-align: center; 
	padding: 16px 0;
	letter-spacing: -1px;
}

.contact-text2{
	font-family: montM, arial;
	font-size: 12px;
	color: white;
	text-align: center;
	padding-bottom: 10%;
	opacity: 0.8;
}


